<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
  <ion-button href="about">HREF</ion-button>
  <ion-button routerLink="/about">Routerlink</ion-button>
  <ion-button [routerLink]="['/about']">Routerlink static binding</ion-button>
  <ion-button [routerLink]="aboutPage">Routerlink dynamic binding</ion-button>
  <ion-button (click)="go()">Go</ion-button>
  <ion-button (click)="contact()">Contact</ion-button>
</ion-content>
